$font-family: 'Raleway',
sans-serif;

$brand-primary: #264653;
$brand-link: #F4A261;
$brand-info: #2A9D8F;

$white: #FFFFFF;
$gray: #555555;
$light-gray: #EDEDED;
$lightest-gray: #F5F5F5;

$border-colour: #DBDBDB;
$border-colour-light: #EDEDED;

body {
    color: $brand-primary;
}