// Padding/Margin
$padding-xl: 3rem;
$padding-default-double: 2rem;
$padding-large: 1.5rem;
$padding-default: 1rem;
$padding-12: 0.75rem;
$padding-half: 0.5rem;
$padding-fourth: 0.25rem;

// Font sizes
$font-xl: 3rem;
$font-large: 2rem;
$font-larger: 1.5rem;
$font-before-large: 1.25rem;
$font-default-larger: 1.1rem;
$font-default: 1rem;
$font-medium: 0.8rem;
$font-smaller: 0.75rem;

$font-small: 0.5rem;

$image-border-radius: $padding-default;

$hover-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1);
$default-transition: 0.3s;

// Fonts
$bold: 700;